{
  "singleQuote": true,
	"printWidth": 80,
	"editor.formatOnSave": false,
	"proseWrap": "always",
	"tabWidth": 2,
	"requireConfig": false,
	"useTabs": false,
	"trailingComma": "none",
	"bracketSpacing": true,
	"jsxBracketSameLine": false,
  "semi": true
}